
.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-500);
    min-height: 4.5rem;
    height: max-content;
    padding: 1rem;
    border: 1px solid var(--gray-400);
    box-sizing: border-box;
    border-radius:8px ;
}
.task > div {
    display: flex;
    gap: 0.75rem; 
    max-width: 95%;
}
.task > div > p {
    color: var(--gray-100);
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 80%;
}

.task input[type="checkbox"] {
    transition: all 0.2s ease-in;
   appearance: none;
   -webkit-appearance: none;
   width: 17px;
   height: 17px;
   border: 2px solid var(--blue);
   border-radius: 50%;
   cursor: pointer;
}

.task input[type="checkbox"]:checked {
   background-color: var(--purple-dark);
   border: 2px solid var(--purple-dark);
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.task input[type="checkbox"]:checked:hover {
    background-color: var(--purple);
    border-color:var(--purple) ;
}
.task input[type="checkbox"]:checked + p {
    transition: all 0.3s linear;
    text-decoration: line-through;
    color: var(--gray-300);
}
.task input[type="checkbox"]:checked::after {
    content: "L";
    font-size: 11px;
    color: white;
    position: absolute;  
    transform:rotate(45deg) scale(-1, 1);
}

.task input[type="checkbox"]:hover {
   border-color: var(--blue-dark);
   background-color: var(--blue-dark-hover);
}

.trashIcon{
    color: var(--gray-300);
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 4px;
    transition: all 0.1s ease-in;
}
.trashIcon:hover{
    color: var(--danger);
    background-color: var(--gray-400);
}

