main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 6.125rem;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 20vh;
    -ms-overflow-style: none;
}
main::-webkit-scrollbar {
    display: none;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 12.5rem;
    background-color: var(--gray-700);
    padding-top: 4.5rem;
}
img {
    width: 7.875rem;
    height: 3rem;
}
.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 52%;
    margin-top: 53px;
}
.inputContainer input {
    color: var(--gray-100);
    width: 39.875rem;
    height: 3.375rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    padding: 1rem;
    font-size: 1rem;
    outline: none;
}

.inputContainer input:focus {
    border: 1px solid var(--purple-dark);
    -webkit-box-shadow: 0 0 0 1px var(--purple-dark);
    box-shadow: 0 0 0 1px var(--purple-dark);
}
.inputContainer button {
    width: 5.625rem;
    height: 3.25rem;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.tasksMadeTitle {
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    font-weight: bold;
}
.tasksMade {
    font-size: 0.75rem;
    min-width: 25px;
    padding: 2px 8px;
    height: 19px;
    color: var(--gray-200);
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-400);
    border-radius: 999px;
}
.tasksDoAndRedo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
}
.tasksDoAndRedo svg {
    padding: 2px;
    width: 25px;
    height: auto;
    border-radius: 8px;
}
.tasksDoAndRedo > :hover {
    background-color: var(--gray-400);
    cursor: pointer;
}
.tasksDoneTitle {
    color: var(--purple);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.tasksDone {
    font-size: 0.75rem;
    min-width: 25px;
    padding: 2px 8px;
    height: 19px;
    color: var(--gray-200);
    margin-left: 0.5rem;
    background-color: var(--gray-400);
    border-radius: 999px;
    display: flex;
    align-items: center;
}
.tasks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 52%;
}

.tasksHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noTaskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 4rem 1.5rem;
    font-size: 1rem;
    gap: 1rem;
}
.noTaskContainer img {
    width: 3.5rem;
    height: 3.5rem;
}
.noTaskContainer > div > p {
    color: var(--gray-300);
}

@media (max-width: 768px) {
    .inputContainer {
        width: 90%;
    }
    .inputContainer input {
        width: 100%;
    }
    .tasks {
        width: 90%;
    }
}
